body{
	font-family: "微软雅黑";
}
.navbar-collapse{
	font-size: 1.1em;
}
.carousel-control.left {  
    
  background-image:none;  
  background-repeat: repeat-x;  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);  
}  
.carousel-control.right {  
  left: auto;  
  right: 0;  
   
  background-image:none;  
  background-repeat: repeat-x;  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);  
}  

.photoDiv img{
	max-width: 75%;
	cursor: pointer;
}
.showMain{
	margin: 0px 2px;
	width: 75%;
	height: 340px;
	padding-left: 20px;
}
.aTags{

	width: 23%;
	height: auto;
	display: inline-block;
	float: right;
	margin: 60px 20px 0px 0px;
	
}
.aTags h3{
	color:#9D9D9D
}
.aTags a{
	color:#337ab7;
	padding-bottom: 2px;
	cursor: pointer;
}
.minTags{
	margin: 0px 4px;
}
.label-danger{
	font-size:0.6em ;
}
.minTags a:hover{
	text-decoration: none;
}
.container{
	padding-left: -5px;
	padding-right: -5px;
}
.row{margin:0;}
.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{padding:0;}
.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12{padding:0;}
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5{padding:0;}
@media only screen and (max-width: 960px){
	.aSearch{
		display: none;
	}
	
}
@media only screen and (max-width: 1000px){
	footer{
		display: none;
	}
}
@media only screen and (max-width: 1350px){
	.aTags{
		display: none;
	}
	.photoDiv img{
		max-width: 100%%;
		cursor: pointer;
	}
	.showMain{                  
		width: 100%;
	}
	
}

@media only screen and (max-width: 540px){
	.photoDiv button,.photoDiv h4 {
		font-size: 0.8em;
	}
	.nav-pills{
		font-size: 0.8em;
	}
}
@media only screen and (max-width: 460px){
	.photoDiv button,.photoDiv h4 {
		font-size: 0.7em;
	}

	.nav-pills{
		font-size: 0.8em;
	}
}
footer{
	width: 97%;
	height: 50px;
	/*margin: 30px 20px 0px 20px;	*/
}
